# Configuration globale pour tous les microservices
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

spring:
  jackson:
    serialization:
      INDENT_OUTPUT: true   # JSON formaté
  output:
    ansi:
      enabled: ALWAYS       # logs colorés dans la console

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
